*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    outline: none;
}

.title{
    text-align: center;
    padding: 10px;
}

.board{
    border: 1px solid;
    width: 500px;
    background-color: #ccccff;
    margin: 20px 35%;
    padding: 40px 50px 70px 50px;
    border-radius: 110px;
}

.board label{
    display: inline-block;
}

.board .net label{
    width: 210px;
}

.btn{
    font-size: 16px;
    font-family: 'arial';
    color: #ffffff;
    background-color: #3333ff;
    text-decoration: none;
    padding: 15px 32px;
    text-align: center;
    /*margin: 0px 5px 0px 5px;*/
    border: none;
    border-radius: 50px;
}

.left{
    float: left;
}

.rigth{
    float: right;
    /*position: absolute;*/
}